<div id="myDIV" class="header">
  <h2 style="margin:5px">My To Do List</h2>
  <input type="text" placeholder="Title..." [(ngModel)]="title" />
  <span (click)="add()" class="addBtn">Add</span>

</div>

<ul>
  <!-- // -->
  <!-- <li class="{{task.isDone ? 'checked':''}}" *ngFor="let task of tasks">{{ task.title }}</li> -->
  <li [class.checked]="task.isDone" *ngFor="let task of tasks" (click)="isDone(task.id)">
    {{ task.title }}
    <span (click)="remove(task.id)" class="close">X</span>
  </li>
</ul>
